<ion-header>
  <ion-toolbar color="primary">
   <img src="assets/images/xpm-logo-2.png" class="header-img">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
        <h1>Review & Submit</h1>
      </ion-col>
    </ion-row>
    
    
      <ion-col>
        <div class="flex-container">
          <h2>Personal Details</h2>
          <h2 class="Submission">Submission Date</h2>
        </div>
      </ion-col>
      <ion-col>
        <h3 >Test test</h3>
        <h3>Test&#64;gmail.com </h3>
        <h3> 9427266300</h3>
       
      </ion-col>
     
      
      <div class="flex-container">
        <ion-button [routerLink]="['/home2']">Prev</ion-button>
        <ion-button color="success">Submit</ion-button>
      </div>
      
      

 
  </div>
</ion-content>


