<ion-content >
    <div class="page-container">
      <div class="ion-page" id="main-content" class="no-scroll">
          <div class="head">
            <ion-card  class="card" >
              <div class="titletop">
                <ion-card-title class="textheading ion-margin-top">56</ion-card-title>
              </div>
              <ion-card-subtitle class="textdetails">Pending Expence Invoice</ion-card-subtitle>
            </ion-card>
            <ion-card  class="card2" >
              <div class="titletop">
                <ion-card-title class="textheading ion-margin-top">8</ion-card-title>
              </div>
              <ion-card-subtitle class="textdetails">Invoice Approved</ion-card-subtitle>
            </ion-card>
            <ion-card  class="card3">
              <div class="titletop">
                <ion-card-title class="textheading ion-margin-top">13</ion-card-title>
              </div>
              <ion-card-subtitle class="textdetails">Pending Expence Invoice</ion-card-subtitle>
            </ion-card>
            <ion-card  class="card4">
              <div class="titletop">
                <ion-card-title class="textheading ion-margin-top">8</ion-card-title>
              </div>
              <ion-card-subtitle class="textdetails">Rejected Expence Invoice</ion-card-subtitle>
            </ion-card>
            <ion-card  class="card5">
              <div class="titletop">
                <ion-card-title class="textheading ion-margin-top">5</ion-card-title>
              </div>
              <ion-card-subtitle class="textdetails">Pending Check Handover</ion-card-subtitle>
            </ion-card>
          </div>
            <ion-card>
              <div class="icon-text-container">
                <ion-icon src="assets/images/event.svg"size="large"></ion-icon>
                <p >&nbsp;&nbsp;EVENT</p>
                <ion-icon name="arrow-forward-circle-outline" [routerLink]="['/event']"  size="large" class="last-icon"></ion-icon>
              </div>
            </ion-card>
            <ion-card>
              <div class="icon-text-container">
                <ion-icon src="assets/images/categorilist.svg"size="large"></ion-icon>
                <p >&nbsp;&nbsp;EXPENSE CATEGORIES</p>
                <ion-icon name="arrow-forward-circle-outline" [routerLink]="['/exp-category']" size="large" class="last-icon"></ion-icon> 
              </div>
            </ion-card>
            <ion-card>
              <div class="icon-text-container">
                <ion-icon src="assets/images/qbcategory.svg" size="large"></ion-icon>
                <p >&nbsp;&nbsp;QB CATEGORIES</p>
                <ion-icon name="arrow-forward-circle-outline" [routerLink]="['/qb-category']" size="large" class="last-icon"></ion-icon> 
              </div>
            </ion-card>
            <ion-card>
              <div class="merchantbox">
                <div class="merchant-header">
                  <ion-text>Merchant</ion-text>
                  <ion-select placeholder="Select Merchant" class="Merchant">
                    <ion-select-option value="apple">Apple</ion-select-option>
                    <ion-select-option value="banana">Banana</ion-select-option>
                    <ion-select-option value="orange">Orange</ion-select-option>
                  </ion-select>
                </div>
                <ion-button class="merchantbtn" style="--background: #FF6347; color: #ffffff;">Show</ion-button>
              </div>
            </ion-card>
      </div>
    </div>
    <script src="assets/js/event.js"></script>  
</ion-content>
<app-footer></app-footer>


 
  

