.no-scroll::-webkit-scrollbar {
  display: none !important;
  --overflow:hidden;
}
.box{
    border: 1px solid gray;
    width: 100%;
  }
  .custom-item {
    display: flex;
    flex-direction: column;
   
  
  }
  .custom-select {
  border: 1px solid gray;
  width: 100%;
  border-radius: 5px;
  }
  .ion-margin-bottom {
    margin-bottom: 30px;
  }
  .ion-margin-top{
    margin-top: 20px;
  }
  .logo{
        margin-top: 20px;
      
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  /* Optional: To style the buttons within the flex container */
  .flex-container ion-button {
    color: white;
    font-weight: bold;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: black;  
    font-weight: bold ;
    
  }
  span{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: gray;
    //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  .mt-5{
    margin-top:10px;
  }
  .iconcolor{
    color:gray
  }
  .icondemo{
   font-size: 20px;
   margin-top: 15px;
 color:#089de3;
  }
  .search{
    margin-top:10px;
  }
  .search-avatar-container {
    display: flex;
  }
  .footer {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px !important;
    border:1px solid gray;
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 5px !important;
  }
  .toolbar-background {
    background-color: pink;
  }
  .icon-text-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
  }
  
  .texttitle {
    text-align: left;
    margin-left: 15px;
  }
  
  .last-icon {
    margin-left: auto; 
  }
  
  
 
  .card-container {
    display: flex;
    overflow-x: auto; 
 
  }
  
  .icon{
    display: flex;
    overflow-x: auto; 
    height: 70px;
    width: 70px;
    color: #ffffff;
 
  }
  .textheading{
    padding-top: 15px;
    padding-left:10px;
    color: #ffffff;
   
  }
  .text{
    padding-top: 5px;
    padding-left:15px;
    color: #ffffff;
  }
  
  .card {
    flex: 0 0 auto; 
    width: 250px; 
    height: 150px;
    margin-right: 15px; 
    padding: 0px 15px;
    border-radius: 15px;
  

  
  }
  .pt{
    padding-top:15px;
  }
  .ml-5{
    margin-left:20px;
  }
  .merchantbox{
    width: 90%;
    margin-left:19px;
    background-color: #ED7D31;
    border-radius: 15px;
    border:none;
    padding: 12px;
    color: #ffffff;
    font-weight: bolder;
  }
  .Merchant{

    border:1px solid lightgray;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 10px;
   
  }
  .merchantbtn{
    margin-left:10px;
   
  }
  .mt-15{
    margin-top:15px;
  }
  
  .mar{
   
    padding-bottom: 10px;
  }
  .eventlist{
    padding-bottom: 10px;
  }
 
  
  
  
 
 
  
  

  
  