<ion-footer>
  <ion-toolbar class="footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
         <a href="/home2" style="color: gray;">
            <ion-icon class="iconevent" src="assets/images/home.svg" size="large"></ion-icon>
          </a>
        </ion-tab-button>
        <ion-tab-button>
          <a href="/invoice" style="color: gray;">
            <ion-icon class="iconevent" src="assets/images/invoice.svg" size="large"></ion-icon>
          </a>
        </ion-tab-button>
        <ion-tab-button>
          <a href="/reports" style="color: gray;">
            <ion-icon class="iconevent" src="assets/images/report.svg" size="large"></ion-icon>
          </a>
        </ion-tab-button>
        <ion-tab-button>
          <a href="/users" style="color: gray;">
            <ion-icon class="iconevent" src="assets/images/user.svg" size="large"></ion-icon>
          </a>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

