.no-scroll {
  --overflow: hidden;
}
.search{
    margin-top:10px;
  }
  .search-avatar-container {
    display: flex;

  }
  .mt-5{
    margin-top:10px;
  }
  .mt-6{
    margin-top:13px;
  }
  .maincard{
    width: auto;
    margin-left:15px !important;
    margin-right:15px !important;
  }
.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 15px; 
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .addevent {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 

  }
  
  .flex-container h5 {
    margin: 0; 
    word-spacing: 5px;
    font-size: 17px;
    padding-right: 5px;
    margin-right:15px;
    font-weight: bolder;
  }
  // .flex-container ion-icon {
  //   margin-left: auto; 
  //   font-size: 24px !important;
  //   display: flex;
  //   justify-content: end;
  // }
  .iconevent{
    margin-left: auto; 
  }
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-left:5px;

  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
  .sticky-button {
  position: fixed;
  bottom: 20px;
  left: 280px;
  z-index: 999;
  width: 150px;
  }
  .eventmaincontent{
    width: 100% !important;
  }
 