<ion-header class="toolbar-container">
  <ion-toolbar  >
    <div class="search-avatar-container ion-margin-top ion-margin-bottom">
      <!-- <img src="./assets/images/xpm-logo.png" class="header-img"> -->
      <ion-icon name="arrow-back-outline" color="medium" class="mt-6" size="large" [routerLink]="['/home2']"></ion-icon>
      <ion-searchbar class="search"></ion-searchbar>
    
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
<div class="eventmaincontent">
  <h2 class="ion-margin-left">QB Category</h2>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content >
        <ion-toolbar color="primary">
          <ion-title >Add Qb Category</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
            <ion-item>
              <ion-label position="floating">Category</ion-label>
              <ion-input type="text" placeholder="add category"></ion-input>
            </ion-item>
            
            <ion-button class="ion-margin-top">Submit</ion-button>
            <ion-button class="ion-margin-top">Cancel</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-card class="maincard">
    <div class="flex-container">
      <h5>QB123</h5>
      <ion-icon class="iconevent" name="create-outline" color="primary" size="large"></ion-icon>
      <ion-icon  slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5>QB2</h5>
        <ion-icon class="iconevent" name="create-outline" color="primary" size="large"></ion-icon>
        <ion-icon slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container"> 
      <h5>	QB3</h5>
        <ion-icon class="iconevent" name="create-outline" color="primary" size="large"></ion-icon>
        <ion-icon  slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5>QB4</h5>
        <ion-icon class="iconevent" name="create-outline" color="primary" size="large"></ion-icon>
        <ion-icon  slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5>QB5</h5>
        <ion-icon class="iconevent" name="create-outline" color="primary" size="large"></ion-icon>
        <ion-icon slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5>QB6</h5>
        <ion-icon class="iconevent" slot="end" name="create-outline" color="primary" size="large"></ion-icon>
        <ion-icon slot="end" name="trash-outline" color="primary" size="large"></ion-icon>
      
    </div>
  </ion-card>
</div>
</ion-content>
<div class="sticky-button">
  <ion-button id="open-modal">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</div>
