<ion-toolbar  >
  <div class="search-avatar-container ion-margin-top">
    <ion-searchbar value="" class="search" placeholder="Search..."></ion-searchbar>
  </div>
</ion-toolbar> 
<div class="menu">
  <div class="menu-item" [routerLink]="['/event']" style="padding: 18px;" onclick="selectMenuItem(this)">Event</div>
  <div class="menu-item" [routerLink]="['/exp-category']" onclick="selectMenuItem(this)">Exp Categories</div>
  <div class="menu-item" [routerLink]="['/qb-category']" onclick="selectMenuItem(this)">QB Categories</div>
</div>
<ion-content>
<div class="eventmaincontent">
  <p class="eventtitle">QB CATEGORY</p>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content >
        <ion-toolbar color="primary">
          <ion-title >Add Qb Category</ion-title>
          <ion-buttons slot="end">
            <ion-icon (click)="modal.dismiss()" src="assets/images/cancel.svg"size="large"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
            <ion-item>
              <ion-label position="floating">Category</ion-label>
              <ion-input type="text" placeholder="add category"></ion-input>
            </ion-item>
            
            <ion-button class="ion-margin-top">Submit</ion-button>
            <ion-button class="ion-margin-top">Cancel</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-card>
    <div class="flex-container">
      <h5 class="eventsubdeatails">QB123</h5>
      <ion-icon class="iconevent" src="assets/images/editnew.svg" ></ion-icon>
      <ion-icon  class="iconevent2"slot="end"  src="assets/images/delete.svg" ></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5  class="eventsubdeatails">QB2</h5>
      <ion-icon class="iconevent" src="assets/images/editnew.svg"></ion-icon>
      <ion-icon  class="iconevent2" slot="end"  src="assets/images/delete.svg" ></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container"> 
      <h5  class="eventsubdeatails">QB3</h5>
      <ion-icon class="iconevent" src="assets/images/editnew.svg"></ion-icon>
      <ion-icon  class="iconevent2" slot="end"  src="assets/images/delete.svg" ></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5  class="eventsubdeatails">QB4</h5>
      <ion-icon class="iconevent" src="assets/images/editnew.svg"></ion-icon>
      <ion-icon   class="iconevent2" slot="end"  src="assets/images/delete.svg"  ></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5  class="eventsubdeatails">QB5</h5>
      <ion-icon class="iconevent" src="assets/images/editnew.svg"></ion-icon>
      <ion-icon   class="iconevent2" slot="end"  src="assets/images/delete.svg" ></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <div class="flex-container">
      <h5  class="eventsubdeatails">QB6</h5>
          <ion-icon class="iconevent" src="assets/images/editnew.svg"></ion-icon>
      <ion-icon  class="iconevent2" slot="end"  src="assets/images/delete.svg" ></ion-icon>
      
    </div>
  </ion-card>
</div>
<script src="./assets/js/event.js"></script>
</ion-content>
<div class="sticky-button">
  <ion-button id="open-modal">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</div>
<app-footer></app-footer>